* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonOpenDialog {
    padding: 10px;
    border: 1px solid violet;
    border-radius: 8px;
    cursor: pointer;
    color: violet;
}

.buttonOpenDialog:hover {
    opacity: 0.6;
}

hr {
    border: 0px;
    border-top: 1px solid grey;
}

.dialog-main {
    width: 100vw;
    position: fixed;
    top: 30px;
    display: none;
    z-index: 999;
    justify-content: center;
}

.dialog {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: lightgrey;
    border-radius: 12px;
    width: 50%;
}

.active {
    display: flex;
}

.active, .dialog {
    animation: dialog .5s;
}

@keyframes dialog {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    
}

span {
    margin: 10px auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.buttons button {
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.okButton {
    background-color: blue !important;
}

.closeButton {
    background-color: brown !important;
}
